#dropzone {
  text-align: center !important;
  border: 2px dotted green !important;
}
.dropzone .dz-preview.dz-error .dz-error-message {
  display: none !important;
}
.dz-remove {
  width: 100% !important;
  margin-left: 0px !important;
}
